<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    .container {
      width: 80%;
      margin: auto;
      background: #fff;
      padding: 20px;
      margin-top: 50px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    }

    h2 {
      text-align: center;
    }

    .order-table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    .order-table th, .order-table td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }

    .order-table thead {
      background-color: #f2f2f2;
    }

    .order-table tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>
  <title>Order Form</title>
</head>

<body>
  <section class="container">

    <h2>Confirm customer order</h2>

    <table class="order-table">
      <thead>
        <tr>
          <th>E-Mail</th>
          <th>Telephone</th>
          <th>Receiver Location</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Order At</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{> order.email}}</td>
          <td>{{> order.phone}}</td>
          <td>{{> order.address}}</td>
          <td>{{> order.product_name}}</td>
          <td>{{> order.quantity}}</td>
          <td>{{> order.created_date}}</td>
        </tr>
      </tbody>
    </table>

  </section>
</body>

</html>
